<app-nav></app-nav>

<div class="container mt-5 text-white">
    <h2 class="mb-4">Nossos Projetos</h2>
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card bg-dark text-white shadow">
                <div class="card-body">
                    <h5 class="card-title">Professor Fighter</h5>
                    <p class="card-text">Jogo de luta entre professores para a Feira do Industrial (Premiado)</p>
                    <a href="https://github.com/Davizukss/ProfessorFighter" class="btn btn-primary" target="_blank">Ver Projeto</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card bg-dark text-white shadow">
                <div class="card-body">
                    <h5 class="card-title">Jokempo</h5>
                    <p class="card-text">Jokempo desenvolvido em dotnet Maui para as aulas de programação mobile</p>
                    <a href="https://github.com/Davizukss/Jokempo" class="btn btn-primary" target="_blank">Ver Projeto</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card bg-dark text-white shadow">
                <div class="card-body">
                    <h5 class="card-title">PointV</h5>
                    <p class="card-text">App desenvolvido com o Framework React Native para a contagem de pontos</p>
                    <a href="https://github.com/Davizukss/PointV-VolleyBall-App" class="btn btn-primary" target="_blank">Ver Projeto</a>
                </div>
            </div>
        </div>
    </div>

    <h2 class="mt-5 mb-4">Nossas Redes</h2>
    <p>Visite o perfil do Davi Varella: <a href="https://github.com/Davizukss" target="_blank" class="text-blue">GitHub</a></p>
    <p>Visite o perfil do Miguel Freitas: <a href="https://github.com/DevMiguelF" target="_blank" class="text-blue">GitHub</a></p>
    <h2 class="mt-4 mb-5">Linguagens que Dominamos</h2>
</div>

<app-bar-skills></app-bar-skills>

<app-footer></app-footer>
