<app-nav></app-nav>
<div class="jumbotron text-left custom-jumbotron">
    <div class="d-flex align-items-center">
        <div class="mr-3">
            <h1 class="display-4 custom-display">Davi Varella e <br> Miguel Freitas</h1>
            <p class="lead">Desenvolvedores apaixonados por tecnologia.</p>
            <hr class="my-4">
            <a class="btn btn-primary btn-lg custom-btn" href="/skills" role="button">Nossas Habilidades</a>
        </div>
        <div class="ml-auto">
            <img class="imgHome" src={{Devs}} alt="Davi e Miguel">
        </div>
    </div>
</div>
<app-bar-skills></app-bar-skills>
<app-card></app-card>
<app-footer></app-footer>
